gradio
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langchain-chroma
langchain-huggingface
langgraph
langgraph-checkpoint
chromadb
sentence-transformers
pypdf
python-dotenv
duckduckgo-search
ddgs
wikipedia
groq
pillow